 :root {
     //base
     --font-family: "TTFirsNeue", sans-serif;
     --second-family: "Roboto", sans-serif;

    // colors
     --dark-color: #202020;
     --light-color: #fff;
     --text-color: #CACACA;
     --button-color: #FF6E30;
     --gray-color: #999999;
     --focus-color: #BC572B;
     --active-color: #CE4307;
    // sizes
     --title-size: 24px;
     --text-size: 16px; 
     --note-size: 14px;
     --date-size: 12px;
 }
 
 
